{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react-perf/recommended",
    "next",
    "prettier"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react", "prettier", "eslint-plugin-import-helpers", "import"],
  "rules": {
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": ["/^react/", "module", ["parent", "sibling", "index"]],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ],
    "react/require-default-props": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "eslint-disable import/no-anonymous-default-export": "off",
    "import/export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react-perf/jsx-no-new-function-as-prop": "off",
    "react/function-component-definition": "off",
    "react-perf/jsx-no-new-object-as-prop": "off",
    "perf/jsx-no-new-array-as-prop": "off",
    "react/state-in-constructor": "off",
    "react/static-property-placement": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "off",
    "react/jsx-uses-react": "off",
    "react-perf/jsx-no-new-array-as-prop": "off",
    "react/no-children-prop": "off",
    "max-len": [
      "warn",
      {
        "code": 100,
        "comments": 100,
        "ignoreStrings": true,
        "ignoreComments": true
      }
    ]
  }
}
